--
-- PostgreSQL database dump
--

-- Dumped from database version 16.4 (Debian 16.4-1.pgdg110+2)
-- Dumped by pg_dump version 16.4 (Debian 16.4-1.pgdg110+2)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: tiger; Type: SCHEMA; Schema: -; Owner: dev
--

CREATE SCHEMA tiger;


ALTER SCHEMA tiger OWNER TO dev;

--
-- Name: tiger_data; Type: SCHEMA; Schema: -; Owner: dev
--

CREATE SCHEMA tiger_data;


ALTER SCHEMA tiger_data OWNER TO dev;

--
-- Name: topology; Type: SCHEMA; Schema: -; Owner: dev
--

CREATE SCHEMA topology;


ALTER SCHEMA topology OWNER TO dev;

--
-- Name: SCHEMA topology; Type: COMMENT; Schema: -; Owner: dev
--

COMMENT ON SCHEMA topology IS 'PostGIS Topology schema';


--
-- Name: fuzzystrmatch; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS fuzzystrmatch WITH SCHEMA public;


--
-- Name: EXTENSION fuzzystrmatch; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION fuzzystrmatch IS 'determine similarities and distance between strings';


--
-- Name: postgis; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS postgis WITH SCHEMA public;


--
-- Name: EXTENSION postgis; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION postgis IS 'PostGIS geometry and geography spatial types and functions';


--
-- Name: postgis_tiger_geocoder; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS postgis_tiger_geocoder WITH SCHEMA tiger;


--
-- Name: EXTENSION postgis_tiger_geocoder; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION postgis_tiger_geocoder IS 'PostGIS tiger geocoder and reverse geocoder';


--
-- Name: postgis_topology; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS postgis_topology WITH SCHEMA topology;


--
-- Name: EXTENSION postgis_topology; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION postgis_topology IS 'PostGIS topology spatial types and functions';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: donors; Type: TABLE; Schema: public; Owner: dev
--

CREATE TABLE public.donors (
    id uuid NOT NULL,
    address character varying(255) NOT NULL,
    contact_person character varying(100),
    created_at timestamp(6) without time zone NOT NULL,
    latitude double precision,
    longitude double precision,
    org_name character varying(100) NOT NULL,
    org_type character varying(30) NOT NULL,
    rating_avg double precision,
    updated_at timestamp(6) without time zone NOT NULL,
    CONSTRAINT donors_org_type_check CHECK (((org_type)::text = ANY ((ARRAY['SUPERMARKET'::character varying, 'RESTURANT'::character varying, 'BAKERY'::character varying, 'HOTEL'::character varying, 'CATERING'::character varying, 'FARM'::character varying, 'SUPPLIER'::character varying, 'OTHER'::character varying])::text[])))
);


ALTER TABLE public.donors OWNER TO dev;

--
-- Name: ngos; Type: TABLE; Schema: public; Owner: dev
--

CREATE TABLE public.ngos (
    id uuid NOT NULL,
    address character varying(255) NOT NULL,
    contact_person character varying(100),
    created_at timestamp(6) without time zone NOT NULL,
    latitude double precision,
    logitude double precision,
    org_name character varying(100) NOT NULL,
    rating_avg double precision,
    reg_number character varying(50),
    service_area character varying(100),
    updated_at timestamp(6) without time zone NOT NULL
);


ALTER TABLE public.ngos OWNER TO dev;

--
-- Name: users; Type: TABLE; Schema: public; Owner: dev
--

CREATE TABLE public.users (
    id uuid NOT NULL,
    created_at timestamp(6) without time zone NOT NULL,
    email character varying(255) NOT NULL,
    full_name character varying(100) NOT NULL,
    is_active boolean NOT NULL,
    password character varying(60) NOT NULL,
    phone character varying(20),
    role character varying(20) NOT NULL,
    updated_at timestamp(6) without time zone NOT NULL,
    CONSTRAINT users_role_check CHECK (((role)::text = ANY ((ARRAY['DONOR'::character varying, 'NGO'::character varying, 'ADMIN'::character varying])::text[])))
);


ALTER TABLE public.users OWNER TO dev;

--
-- Name: donors donors_pkey; Type: CONSTRAINT; Schema: public; Owner: dev
--

ALTER TABLE ONLY public.donors
    ADD CONSTRAINT donors_pkey PRIMARY KEY (id);


--
-- Name: ngos ngos_pkey; Type: CONSTRAINT; Schema: public; Owner: dev
--

ALTER TABLE ONLY public.ngos
    ADD CONSTRAINT ngos_pkey PRIMARY KEY (id);


--
-- Name: users uk6dotkott2kjsp8vw4d0m25fb7; Type: CONSTRAINT; Schema: public; Owner: dev
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT uk6dotkott2kjsp8vw4d0m25fb7 UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: dev
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: ngos fk3dyjvx0w7w8hg7q3c275hb9bb; Type: FK CONSTRAINT; Schema: public; Owner: dev
--

ALTER TABLE ONLY public.ngos
    ADD CONSTRAINT fk3dyjvx0w7w8hg7q3c275hb9bb FOREIGN KEY (id) REFERENCES public.users(id);


--
-- Name: donors fke8axbwwdrpqc60qiog6h2fuky; Type: FK CONSTRAINT; Schema: public; Owner: dev
--

ALTER TABLE ONLY public.donors
    ADD CONSTRAINT fke8axbwwdrpqc60qiog6h2fuky FOREIGN KEY (id) REFERENCES public.users(id);


--
-- PostgreSQL database dump complete
--

